
.app-container{
  height: 100vh;
  width: 100vw;
  background-color: #262626;
}

.app-container::-webkit-scrollbar {
  display: none;
}
#root{
  overflow-x: hidden;
}
#root::-webkit-scrollbar {
  display: none;
}

.header{
  height: 8vh;
  background-color: #000;
}

.logo{
  height: 5vh;
}

.background-blue{
  background-color: #05A081;
}

.background-black{
  background-color: #000;
}

.search-buttons{
  cursor: pointer;
  height: 4vh;
  width: 4vh;
  margin: 2px;
  padding: 2px;
}

.filter-option-text{
  background-color: #B0ACAC;
}

.body{
  position: relative;
  background-color: #262626;
  box-sizing: border-box;
}

.body::-webkit-scrollbar {
  display: none;
}

.grid-container{
  width: 100%;
  height: 100%;
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns with equal width */
  grid-template-rows: repeat(4, 1fr); /* 4 columns with equal width */
  grid-gap: 15px; /* 10px gap between grid items */
  box-sizing: border-box;
}

.video-container {
  max-height: 70vh;
}
.video{
  cursor: pointer;
  max-height: 70vh;
  max-width: 100%;
  object-fit: fill;
}

.video-image{
  display: flex;
  position: relative;
  max-width: 100%;
  height: 100%;
  aspect-ratio: calc(16/9);
  overflow: hidden;
  box-sizing: border-box;
}

.video-display{
  display: flex;
  position: relative;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.video-display2{
  position: absolute; 
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto; 
  background-size: cover;
  overflow: hidden;
}

.close-video{
  position: relative;
  left: 4vh;
  z-index: 3;
  color: white;
}

.close-video:hover{
  color: #05A081;
}

.autor{
  color: #05A081;
}

.selected-page{
  background-color: #05A081 !important;
}

.page-button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  cursor: pointer;
  height: 4vh;
  width: 4vh;
  margin: 2px;
  margin-right: 5px;
  padding: 2px;
}

.total-pages-button{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 4vh;
  margin: 2px;
  padding: 5px;
  background-color: white;
}